@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.fb-container {
  font-size: 1em;
}
.fb-container__contents {
  font-size: 1em;
}
.fb-container .fb-contents {
  width: min(50rem, 95%);
  margin-inline: auto;
  font-size: 1em;
}
.fb-container .fb-contents__header {
  font-size: 1em;
  padding: 1em 0;
}
.fb-container .fb-contents__header svg {
  font-size: 1em;
  width: 10em;
  margin-inline: auto;
  display: block;
}
.fb-container .fb-contents__body {
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body {
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body__contents {
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form {
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form > * + * {
  margin: 0.5em 0;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group {
  position: relative;
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group#input-password {
  display: flex;
  align-items: center;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group .show-password {
  font-size: 1em;
  position: absolute;
  right: 2%;
  background-color: #f5f6f7;
  display: none;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group .show-password.active {
  display: block;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group .show-password > span {
  font-size: 0.85em;
  font-weight: 500;
  display: block;
  color: RGB(53, 120, 229);
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group input {
  font-size: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  border-style: none;
  background-color: #e8f0fe;
  width: 100%;
  padding: 0.75em;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group input[type=password] {
  padding: 0.75em 4em 0.75em 0.75em !important;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group input::placeholder {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form__form-group input:focus-within {
  box-shadow: 0 1px 5px 2px rgba(182, 155, 102, 0.2);
  outline: 1px solid rgb(182, 155, 102);
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form button {
  font-size: 1em;
  font-weight: bolder;
  padding: 0.75em 0;
  border-radius: 0.5em;
  width: 100%;
  border-style: none;
  outline: none;
  color: #fff;
  background-color: #1877f2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form button > svg {
  font-size: 1em;
  display: block;
  width: 1.5em;
  height: auto;
  display: none;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form button > svg.active {
  display: block;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form button > span {
  display: none;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-form button > span.active {
  display: block;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom {
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom__contents {
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom__contents .divide-column {
  font-size: 1em;
  padding: 1.3em 0;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom__contents .top {
  font-size: 1em;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom__contents .top a {
  text-align: center;
  font-size: 1em;
  display: block;
  text-decoration: none;
  color: #1877f2;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom__contents .bottom {
  border-top: 1px solid #ada9a9;
  font-size: 1em;
  position: relative;
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom__contents .bottom::before {
  position: absolute;
  content: "or";
  bottom: 80%;
  background-color: #fff;
  z-index: 5;
  padding: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}
.fb-container .fb-contents .fb-contents-body__contents .fb-contents-bottom__contents .bottom button {
  font-size: 1em;
  background-color: transparent;
  border: 1px solid #ada9a9;
  width: 75%;
  margin-inline: auto;
  display: block;
  padding: 0.5em 0;
  border-radius: 0.2em;
}

.footer-container {
  margin-top: 5em;
  font-size: 0.85em;
}
.footer-container__contents {
  font-size: 1em;
}
.footer-container__contents .footer-languages-flex-container {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container__contents .footer-languages-flex-container > * {
  width: 100%;
}
.footer-container__contents .footer-languages-flex-container .flex-item {
  font-size: 1em;
  text-align: center;
}
.footer-container__contents .footer-languages-flex-container .flex-item > ul {
  font-size: 1em;
}
.footer-container__contents .footer-languages-flex-container .flex-item > ul > * + * {
  margin: 0.3em 0;
}
.footer-container__contents .footer-languages-flex-container .flex-item > ul li {
  list-style-type: none;
  font-size: 1em;
}
.footer-container__contents .footer-languages-flex-container .flex-item > ul li a {
  color: rgb(87, 107, 149);
  font-size: 1em;
  display: block;
  text-decoration: none;
}
.footer-container__contents .footer-languages-flex-container .flex-item > ul li a#language-us {
  color: #888888;
  font-weight: 500;
}
.footer-container__contents .footer-languages-flex-container .flex-item > ul li .icon {
  margin-inline: auto;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.2em;
  border: 1px solid #576b95;
  display: grid;
  place-items: center;
}
.footer-container__contents .main-footer {
  font-size: 1em;
  margin-top: 1.2em;
  color: #ada9a9;
}
.footer-container__contents .main-footer > * + * {
  margin: 1em 0;
}
.footer-container__contents .main-footer__top {
  font-size: 0.75em;
}
.footer-container__contents .main-footer__top > ul {
  font-size: 1em;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.footer-container__contents .main-footer__top > ul li {
  font-size: 1em;
  display: block;
  list-style-type: none;
}
.footer-container__contents .main-footer__bottom {
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
}

@font-face {
  font-family: "Helvetica Light";
  src: url("../../assets/fonts/Helvetica/Helvetica Light Condensed.otf") format("otf");
}
@font-face {
  font-family: "Helvetica Roman";
  src: url("../../assets/fonts/Helvetica/Helvetica Roman.ttf") format("ttf");
}
@font-face {
  font-family: "Helvetica Medium";
  src: url("../../assets/fonts/Helvetica/Helvetica CE Medium.otf") format("otf");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../../assets/fonts/Helvetica/Helvetica CE Bold.otf") format("otf");
}/*# sourceMappingURL=facebook.css.map */