@use "../globals/variables";

.fb-container {
  font-size: 1em;

  &__contents {
    font-size: 1em;
  }

  .fb-contents {
    width: min(50rem, 95%);
    margin-inline: auto;
    font-size: 1em;
    &__header {
      font-size: 1em;
      padding: 1em 0;
      svg {
        font-size: 1em;
        width: 10em;
        margin-inline: auto;
        display: block;
      }
    }

    &__body {
      font-size: 1em;
    }

    .fb-contents-body {
      font-size: 1em;
      &__contents {
        font-size: 1em;
        // outline: 1px solid black;
        .fb-form {
          font-size: 1em;

          & > * + * {
            margin: 0.5em 0;
          }
          &__form-group {
            position: relative;
            font-size: 1em;

            &#input-password {
              display: flex;
              align-items: center;
            }

            .show-password {
              font-size: 1em;
              position: absolute;
              right: 2%;
              background-color: #f5f6f7;
              display: none;

              &.active {
                display: block;
              }
              & > span {
                font-size: 0.85em;
                font-weight: variables.getFontWeight("medium");
                display: block;
                color: RGB(53, 120, 229);
              }
            }

            input {
              font-size: 1em;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
              outline: none;
              border-style: none;
              background-color: #e8f0fe;
              width: 100%;
              padding: 0.75em;

              &[type="password"] {
                padding: 0.75em 4em 0.75em 0.75em !important;
              }

              &::placeholder {
                font-size: 1em;
                color: rgba(0, 0, 0, 0.5);
              }

              &:focus-within {
                box-shadow: 0 1px 5px 2px rgb(182, 155, 102, 0.2);
                outline: 1px solid rgb(182, 155, 102);
              }
            }
          }
          button {
            font-size: 1em;
            font-weight: bolder;
            padding: 0.75em 0;
            border-radius: 0.5em;
            width: 100%;
            border-style: none;
            outline: none;
            color: variables.$secondary-color;
            background-color: variables.$primary-color;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

            & > svg {
              font-size: 1em;
              display: block;
              width: 1.5em;
              height: auto;
              display: none;

              &.active {
                display: block;
              }
            }

            & > span {
              display: none;

              &.active {
                display: block;
              }
            }
          }
        }

        .fb-contents-bottom {
          font-size: 1em;
          &__contents {
            font-size: 1em;

            .divide-column {
              font-size: 1em;
              padding: 1.3em 0;
            }

            .top {
              font-size: 1em;
              a {
                text-align: center;
                font-size: 1em;
                display: block;
                text-decoration: none;
                color: variables.$primary-color;
              }
            }

            .bottom {
              border-top: 1px solid variables.$accent-color;
              font-size: 1em;
              position: relative;

              &::before {
                position: absolute;
                content: "or";
                bottom: 80%;
                background-color: variables.$secondary-color;
                z-index: 5;

                padding: 0.5em;
                left: 50%;
                transform: translateX(-50%);
              }
              button {
                font-size: 1em;
                background-color: transparent;
                border: 1px solid variables.$accent-color;
                width: 75%;
                margin-inline: auto;
                display: block;
                padding: 0.5em 0;
                border-radius: 0.2em;
              }
            }
          }
        }
      }
    }
  }
}

.footer-container {
  margin-top: 5em;
  font-size: 0.85em;
  &__contents {
    font-size: 1em;
    .footer-languages-flex-container {
      font-size: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      & > * {
        width: 100%;
      }

      .flex-item {
        font-size: 1em;
        text-align: center;
        & > ul {
          font-size: 1em;

          & > * + * {
            margin: 0.3em 0;
          }
          li {
            list-style-type: none;
            font-size: 1em;

            a {
              color: rgb(87, 107, 149);
              font-size: 1em;
              display: block;
              text-decoration: none;

              &#language-us {
                color: #888888;
                font-weight: variables.getFontWeight("medium");
              }
            }
            .icon {
              margin-inline: auto;
              width: 1.5em;
              height: 1.5em;
              border-radius: 0.2em;
              border: 1px solid #576b95;
              display: grid;
              place-items: center;
            }
          }
        }
      }

      &__left {
      }

      &__right {
      }
    }

    .main-footer {
      font-size: 1em;
      margin-top: 1.2em;
      color: variables.$accent-color;

      & > * + * {
        margin: 1em 0;
      }
      &__top {
        font-size: 0.75em;

        & > ul {
          font-size: 1em;
          justify-content: center;
          display: flex;
          align-items: center;
          gap: 0.5em;
          li {
            font-size: 1em;
            display: block;
            list-style-type: none;
          }
        }
      }

      &__bottom {
        text-align: center;
      }
    }
  }
}
