$primary-color: #1877f2;
$secondary-color: #fff;
$accent-color: #ada9a9;

$font-weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@function getFontWeight($weight) {
  @return map-get($font-weight, $weight);
}
