<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div id="disclaimer">
      <h2>
        This website doesn't support desktop/tablet version. Kindly view this
        site on a mobile device
      </h2>
    </div>
    <div class="main-container">
      <img id="mobile" src="../assets/images/small-header.png" alt="mountain" />
      <img id="desktop" src="../assets/images/big-header.png" alt="mountain" />
      <div class="main-container__stars">
        <div class="main-container__contents main-contents">
          <div class="main-contents__texts">
            <div class="header">
              <h1>JOIN THE MOVEMENT</h1>
            </div>
            <div class="desc">
              <div class="desc__images">
                <img src="../assets/images/astronaut.png" alt="astronaut" />
              </div>
              <div class="desc__texts">
                <p>
                  The team is growing every day and scoring wins for the planet.
                  Plant with us and track our progress!
                </p>
              </div>
            </div>
          </div>

          <div class="main-contents__button">
            <button><a href="/login">Support us on facebook</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
